<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: head}">
	<!-- Stripe -->
	<script src="https://js.stripe.com/v3/"></script>
	<!-- SweetAlert2 CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
<div class="page-wrapper">
	<div th:replace="~{layout/header.html :: header}"></div>
	<main class="main">
		<div class="page-header text-center" style="background-image: url('/fe/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">TIẾN HÀNH KIỂM TRA<span>THANH TOÁN</span></h1>
			</div>
		</div>
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Kiểm Tra</li>
				</ol>
			</div>
		</nav>

		<div class="page-content">
			<div class="checkout">
				<div class="container">
					<div class="checkout-discount">
						<form id="applyCouponForm">
							<input type="text" class="form-control" name="couponCode" id="checkout-discount-input" placeholder="Bạn có mã Coupon? Nhập ngay">
							<button type="button" class="btn btn-outline-secondary" onclick="applyCoupon()">Áp dụng</button>
						</form>
					</div>
					<form th:action="@{/checkout}" th:object="${transaction}" method="post" id="checkoutForm">
						<div class="row">
							<div class="col-lg-9">
								<h2 class="checkout-title">CHI TIẾT THANH TOÁN</h2>
								<div class="row">
									<div class="col-sm-6">
										<label>HỌ *</label>
										<input type="text" class="form-control" th:field="*{firstName}" required>
									</div>
									<div class="col-sm-6">
										<label>TÊN *</label>
										<input type="text" class="form-control" th:field="*{lastName}" required>
									</div>
								</div>
								<label>TÊN CÔNG TY (TÙY CHỌN)</label>
								<input type="text" class="form-control" th:field="*{company}">
								<label>ĐỊA CHỈ NHÀ RIÊNG *</label>
								<input type="text" class="form-control" placeholder="Số nhà và tên đường, căn hộ" th:field="*{guestAddress}" required>
								<label>THÀNH PHỐ *</label>
								<input type="text" class="form-control" th:field="*{city}" required>
								<div class="row">
									<div class="col-sm-6">
										<label>Zipcode *</label>
										<input type="text" class="form-control" th:field="*{zipCode}" required>
									</div>
									<div class="col-sm-6">
										<label>SỐ ĐIỆN THOẠI *</label>
										<input type="tel" class="form-control" th:field="*{guestPhone}" required>
									</div>
								</div>
								<label>EMAIL *</label>
								<input type="email" class="form-control" th:field="*{guestEmail}" required>
								<label>LỜI NHẮN (TÙY CHỌN)</label>
								<textarea class="form-control" cols="30" rows="4" placeholder="Ghi thêm điều cần chú ý cho chúng tôi ví dụ như giao hàng bằng nhiều cách khác" th:field="*{message}"></textarea>

								<!-- Payment Details Section -->
								<div id="paymentDetails" style="display: none;">
									<h2 class="checkout-title">CỔNG THANH TOÁN</h2>
									<div id="paypal-button-container"></div>
									<div id="card-errors" role="alert"></div>
								</div>
							</div>
							<aside class="col-lg-3">
								<div class="summary">
									<h3 class="summary-title">ĐƠN HÀNG CỦA BẠN</h3>
									<table class="table table-summary">
										<thead>
										<tr>
											<th>SẢN PHẨM</th>
											<th>TỔNG</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="product : ${cartItems}">
											<td><a th:href="@{/product(id=${product.productId})}" th:text="${product.name}">Beige knitted elastic runner shoes</a></td>
											<td th:text="'$ ' + ${product.price * product.quantity}">$84.00</td>
										</tr>
										<tr class="summary-total">
											<td>TỔNG:</td>
											<td id="totalAmount" th:text="'$ '+ ${totalPrice}"></td>
										</tr>
										</tbody>
									</table>
									<div class="accordion-summary" id="accordion-payment">
										<div class="card">
											<div class="card-header" id="heading-1">
												<h2 class="card-title">
													<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1" onclick="updatePaymentMethod('Thẻ tín dụng')">
														Thẻ tín dụng
														<img th:src="@{fe/images/payments-summary.png}" alt="payments cards">
														<br>
													</a>
												</h2>
											</div>
											<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
												<div class="card-body">
													<input type="hidden" id="stripeToken" name="stripeToken" value="">
													<div id="card-element"></div>
													<br>
													<button type="button" class="btn btn-outline-primary-2 btn-order btn-block" id="submit">Thanh toán</button>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="heading-2">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" onclick="updatePaymentMethod('Hóa đơn thanh toán')">
														Hóa đơn thanh toán
													</a>
												</h2>
											</div>
											<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
												<div class="card-body">
													Tôi sẽ gửi bản hóa đơn thanh toán cho bạn sẽ có thông tin rõ ràng về sản phẩm.
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="heading-3">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" onclick="updatePaymentMethod('Thanh toán khi nhận hàng')">
														Thanh toán khi nhận hàng
													</a>
												</h2>
											</div>
											<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
												<div class="card-body">
													Khi đơn hàng giao đến tay bạn. Bạn có thể chuyển khoản hoặc thanh toán tiền mặt cho chúng tôi.
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="heading-4">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4" onclick="updatePaymentMethod('paypal')">
														PayPal <small class="float-right paypal-link">What is PayPal?</small>
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
												<div class="card-body">
													Thanh toán bằng cách sử dụng tài khoản PayPal của bạn.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->
									</div>
									<input type="hidden" th:field="*{payment}" id="paymentMethodInput">
									<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
										<span class="btn-text">ĐẶT HÀNG</span>
										<span class="btn-hover-text">TIẾN HÀNH KIỂM TRA</span>
									</button>
								</div>
							</aside>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="~{layout/footer.html :: footer}"></div>
</div>
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<div class="mobile-menu-overlay"></div>
<div th:replace="~{layout/mobileMenu :: mobileMenu}"></div>
<script th:src="@{fe/js/jquery.min.js}"></script>
<script th:src="@{fe/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{fe/js/jquery.hoverIntent.min.js}"></script>
<script th:src="@{fe/js/jquery.waypoints.min.js}"></script>
<script th:src="@{fe/js/superfish.min.js}"></script>
<script th:src="@{fe/js/owl.carousel.min.js}"></script>
<script th:src="@{fe/js/main.js}"></script>
<!-- PayPal SDK -->
<script src="https://js.stripe.com/v3/"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AZzNk6beT9erWfE-KpsYb6yNduiSnEgtKTf-uIHffV1me0WtNirvfdNATVQOb0gzz20oWlK_LM4mD7xS&currency=USD"></script>

<script>
	//paypal
	let paypalButton;
	let paypalButtonInitialized = false;

	document.addEventListener('DOMContentLoaded', function() {
		// Thiết lập phương thức thanh toán mặc định
		document.getElementById('paymentMethodInput').value = 'Thẻ tín dụng';

		// Bắt sự kiện khi người dùng thay đổi phương thức thanh toán
		document.querySelectorAll('input[name="paymentMethod"]').forEach(function(radio) {
			radio.addEventListener('change', function() {
				updatePaymentMethod(this.value);
			});
		});
	});

	function updatePaymentMethod(method) {
		document.getElementById('paymentMethodInput').value = method;
		if (method === 'paypal') {
			document.getElementById('paymentDetails').style.display = 'block';
			if (!paypalButtonInitialized) {
				initPayPalButton();
				paypalButtonInitialized = true;
			} else {
				updatePayPalButton();
			}
		}
		else {
			document.getElementById('paymentDetails').style.display = 'none';
		}
	}

	function updatePayPalButton() {
		if (paypalButton) {
			paypalButton.close(); // Đóng nút PayPal hiện tại
		}
		initPayPalButton(); // Khởi tạo lại nút PayPal với giá trị mới
	}

	function initPayPalButton() {
		paypalButton = paypal.Buttons({
			createOrder: function(data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount: {
							value: '' + parseFloat(document.getElementById('totalAmount').textContent.replace('$', '')).toFixed(2)
						}
					}]
				});
			},
			onApprove: function(data, actions) {
				return actions.order.capture().then(function(details) {
					fetch('/checkout/paypal-payment', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							paymentId: data.orderID,
							payerId: details.payer.payer_id
						}),
					}).then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.json();
					}).then(data => {
						if (data.success) {
							Swal.fire({
								icon: 'success',
								title: 'Success',
								text: 'Thanh toán của bạn đã thành công!'
							}).then(() => {
								window.location.href = '/';
							});
						} else {
							Swal.fire({
								icon: 'error',
								title: 'Error',
								text: 'Thanh toán không thành công. Vui lòng thử lại.'
							});
						}
					}).catch(error => {
						console.error('Error:', error);
						Swal.fire({
							icon: 'success',
							title: 'Success',
							text: 'Thanh toán thành công! Vui lòng xác minh thông tin của bạn và đặt hàng!'
						});
					});
				});
			},
			onError: function(err) {
				console.error('Error:', err);
				Swal.fire({
					icon: 'error',
					title: 'Error',
					text: 'Payment failed. Please try again.'
				});
			}
		}).render('#paypal-button-container');
	}
</script>

<script th:inline="javascript">
	/*<![CDATA[*/
	if ([[${successMessage != null}]] && [[${successMessage}]].trim() !== '') {
		Swal.fire({
			icon: 'success',
			title: 'Success',
			text: '[[${successMessage}]]'
		}).then((result) => {
			if (result.isConfirmed || result.dismiss === Swal.DismissReason.timer) {
				window.location.href = '/';
			}
		});
	}

	if ([[${errorMessage != null}]] && [[${errorMessage}]].trim() !== '') {
		Swal.fire({
			icon: 'error',
			title: 'Error',
			text: '[[${errorMessage}]]'
		});
	}
</script>
<script>
	var stripe = Stripe('pk_test_51PSJNc06kNtX7JtGAkESlTFM86A6Z52CNlwnNJFkxDaP7LxCvLg6UnNCgPOOBAG5AoclJhbKUKSurEeLh7qu7zE500DIIC5hay');
	var elements = stripe.elements();
	var card = elements.create('card');
	card.mount('#card-element');

	card.on('change', function(event) {
		var displayError = document.getElementById('card-errors');
		if (event.error) {
			displayError.textContent = event.error.message;
		} else {
			displayError.textContent = '';
		}
	});

	document.getElementById('submit').addEventListener('click', function(event) {
		event.preventDefault();
		stripe.createPaymentMethod('card', card).then(function(result) {
			if (result.error) {
				Swal.fire('Error', result.error.message, 'error');
			} else {
				fetch('/checkout/create-payment-intent', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						paymentMethodId: result.paymentMethod.id,
						couponCode: document.getElementById('checkout-discount-input').value
					})
				})
						.then(function(result) {
							return result.json();
						})
						.then(function(data) {
							if (data.error) {
								Swal.fire('Error', data.error.message, 'error');
							} else {
								stripe.confirmCardPayment(data.clientSecret).then(function(result) {
									if (result.error) {
										Swal.fire('Error', result.error.message, 'error');
									} else {
										if (result.paymentIntent.status === 'succeeded') {
											Swal.fire('Success', 'Payment succeeded!', 'success');
											document.getElementById('checkoutForm').submit();
										}
									}
								});
							}
						});
			}
		});
	});
	function applyCoupon() {
		var code = document.getElementById('checkout-discount-input').value;

		fetch('/checkout/applyCoupon', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ couponCode: code })
		})
				.then(response => response.json())
				.then(data => {
					if (data.success) {
						Swal.fire({
							icon: 'success',
							title: 'Mã giảm giá đã được áp dụng!',
							text: 'Tổng còn ' + data.discount + ' $',
							showConfirmButton: false,
							timer: 1500
						});

						var totalPriceElement = document.getElementById('totalAmount');
						var currentTotal = parseFloat(totalPriceElement.textContent.replace('$', ''));
						var discountedTotal = data.discount;
						totalPriceElement.textContent = '$' + discountedTotal.toFixed(2);
					} else {
						Swal.fire({
							icon: 'error',
							title: 'Mã giảm giá không hợp lệ!',
							text: data.message,
						});
					}
				})
				.catch(error => {
					console.error('Error:', error);
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'Đã xảy ra lỗi khi áp dụng mã giảm giá. Vui lòng thử lại sau.',
					});});
	}
</script>
</body>
</html>