<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head th:replace="~{layout/head :: head}"></head>

<body>
<div class="page-wrapper">
    <div th:replace="~{layout/header.html :: header}"></div>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('/fe/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">HỎI ĐÁP<span>GIẢI QUYẾT VẤN ĐỀ CỦA BẠN</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hỏi đáp</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <h2 class="title text-center mb-3">Thông tin vận chuyển</h2><!-- End .title -->
                <div class="accordion accordion-rounded" id="accordion-1">
                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                    Kiện hàng của tôi sẽ được giao như thế nào?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
                            <div class="card-body">
                                Hàng hóa của bạn sẽ được giao qua dịch vụ chuyển phát nhanh hoặc dịch vụ giao hàng tiêu chuẩn, tùy thuộc vào lựa chọn của bạn tại thời điểm thanh toán. Chúng tôi hợp tác với các đơn vị vận chuyển uy tín để đảm bảo hàng hóa được giao đến tay bạn nhanh chóng và an toàn.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                    Tôi có phải trả phí vận chuyển không?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
                            <div class="card-body">
                                Chi phí vận chuyển sẽ được tính toán dựa trên phương thức giao hàng mà bạn lựa chọn và địa chỉ giao hàng của bạn. Một số đơn hàng có thể được miễn phí vận chuyển nếu đáp ứng các điều kiện cụ thể.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                    Tôi có bị tính phí hải quan không?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
                            <div class="card-body">
                                Phí hải quan có thể áp dụng tùy thuộc vào quy định của quốc gia nhập khẩu. Bạn sẽ phải chịu trách nhiệm thanh toán các khoản phí này nếu có.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading-4">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                    Mặt hàng của tôi bị lỗi
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
                            <div class="card-body">
                                Nếu sản phẩm của bạn gặp vấn đề hoặc bị lỗi, hãy liên hệ với chúng tôi ngay lập tức để được hỗ trợ đổi trả hoặc sửa chữa theo chính sách bảo hành.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->

                <h2 class="title text-center mb-3">Đơn hàng và Trả hàng</h2><!-- End .title -->
                <div class="accordion accordion-rounded" id="accordion-2">
                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-1">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1">
                                    Theo dõi đơn hàng của tôi
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
                            <div class="card-body">
                                Bạn có thể theo dõi trạng thái đơn hàng của mình thông qua mã vận đơn được cung cấp sau khi đơn hàng của bạn được gửi đi. Thông tin chi tiết sẽ được gửi tới email của bạn.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
                                    Tôi chưa nhận được đơn hàng
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
                            <div class="card-body">
                                Nếu bạn chưa nhận được đơn hàng sau thời gian dự kiến, vui lòng liên hệ với chúng tôi để được hỗ trợ kiểm tra và giải quyết.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading2-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">
                                    Làm thế nào để trả hàng?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
                            <div class="card-body">
                                Để trả lại sản phẩm, vui lòng liên hệ với dịch vụ chăm sóc khách hàng của chúng tôi để được hướng dẫn cụ thể về quy trình và điều kiện trả hàng.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->

                <h2 class="title text-center mb-3">Thanh toán</h2><!-- End .title -->
                <div class="accordion accordion-rounded" id="accordion-3">
                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading3-1">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="false" aria-controls="collapse3-1">
                                    Tôi có thể sử dụng các loại thanh toán nào?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1" data-parent="#accordion-3">
                            <div class="card-body">
                                Chúng tôi chấp nhận nhiều phương thức thanh toán như thẻ tín dụng, thẻ ghi nợ, ví điện tử và chuyển khoản ngân hàng.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading3-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2">
                                    Tôi có thể sử dụng nhiều phương thức thanh toán cùng lúc không?
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
                            <div class="card-body">
                                Hiện tại, chúng tôi chỉ chấp nhận một phương thức thanh toán cho mỗi đơn hàng. Bạn vui lòng chọn phương thức thanh toán thuận tiện nhất cho mình.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading3-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3">
                                    Thanh toán của tôi bị từ chối
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
                            <div class="card-body">
                                Nếu thanh toán của bạn bị từ chối, vui lòng kiểm tra lại thông tin thẻ hoặc phương thức thanh toán của bạn. Nếu vấn đề vẫn chưa được giải quyết, hãy liên hệ với ngân hàng của bạn để biết thêm chi tiết.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
        <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(/fe/images/backgrounds/cta/bg-7.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9 col-xl-7">
                        <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                            <div class="col">
                                <h3 class="cta-title text-white">NẾU BẠN CÓ NHIỀU CÂU HỎI HƠN</h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">LIÊN HỆ QUA ĐÂY</p><!-- End .cta-desc -->
                            </div><!-- End .col -->

                            <div class="col-auto">
                                <a th:href="@{/contact}" class="btn btn-outline-white"><span>LIÊN HỆ</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .col-auto -->
                        </div><!-- End .row no-gutters -->
                    </div><!-- End .col-md-10 col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cta -->

    </main><!-- End .main -->

    <footer class="footer">
        <div th:replace="~{layout/footer.html :: footer}"></div>
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
</body>
</html>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div th:replace="~{layout/mobileMenu :: mobileMenu}"></div><!-- End .mobile-menu-container -->

<!-- Plugins JS File -->
<script th:src="@{fe/js/jquery.min.js}"></script>
<script th:src="@{fe/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{fe/js/jquery.hoverIntent.min.js}"></script>
<script th:src="@{fe/js/jquery.waypoints.min.js}"></script>
<script th:src="@{fe/js/superfish.min.js}"></script>
<script th:src="@{fe/js/owl.carousel.min.js}"></script>
<!-- Main JS File -->
<script th:src="@{fe/js/main.js}"></script>
</body>
</html>