<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head th:replace="~{layout/head :: head}"></head>

<body>
<div class="page-wrapper">
    <div th:replace="~{layout/header.html :: header}"></div>
    <main class="main">
        <div class="container">
            <div class="intro-slider-container slider-container-ratio mb-2">
                <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
                    <div class="intro-slide">
                        <figure class="slide-image">
                            <picture>
                                <source media="(max-width: 480px)" srcset="/fe/demos/demo-10/slider/slide-1-480w.jpg">
                                <img th:src="@{fe/images/demos/demo-10/slider/slide-1.jpg}" alt="Image Desc">
                            </picture>
                        </figure><!-- End .slide-image -->

                        <div class="intro-content">
                            <h3 class="intro-subtitle">Ưu Đãi Và Khuyến Mãi</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Giày Thể Thao</h1><!-- End .intro-title -->

                            <div class="intro-price text-white">từ $9.99</div><!-- End .intro-price -->

                            <a th:href="@{/category}" class="btn btn-white-primary btn-round">
                                <span>MUA NGAY</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide">
                        <figure class="slide-image">
                            <picture>
                                <source media="(max-width: 480px)" srcset="/fe/demos/demo-10/slider/slide-2-480w.jpg}">
                                <img th:src="@{fe/images/demos/demo-10/slider/slide-2.jpg}" alt="Image Desc">
                            </picture>
                        </figure><!-- End .slide-image -->

                        <div class="intro-content">
                            <h3 class="intro-subtitle">Xu Hướng</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Thịnh hành trong tuần</h1><!-- End .intro-title -->

                            <div class="intro-price text-white">từ $19.99</div><!-- End .intro-price -->

                            <a th:href="@{/category}" class="btn btn-white-primary btn-round">
                                <span>MUA NGAY</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide">
                        <figure class="slide-image">
                            <picture>
                                <source media="(max-width: 480px)" srcset="/fe/demos/demo-10/slider/slide-3-480w.jpg">
                                <img th:src="@{fe/images/demos/demo-10/slider/slide-3.jpg}" alt="Image Desc">
                            </picture>
                        </figure><!-- End .slide-image -->

                        <div class="intro-content">
                            <h3 class="intro-subtitle text-white">Ưu Đãi Và Khuyến Mãi</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Đừng bỏ lỡ:</h1><!-- End .intro-title -->

                            <div class="intro-price text-white">Giảm giá tới 60%</div><!-- End .intro-price -->

                            <a th:href="@{/category}" class="btn btn-white-primary btn-round">
                                <span>MUA NGAY</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->
                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div><!-- End .container -->

        <div class="banner-group">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img th:src="@{fe/images/demos/demo-10/banners/banner-1.jpg}" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h4 class="banner-subtitle"><a href="#">Hàng Mới</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="/category?category=Sneaker&page=0">Giày & <br>Giày thể thao</a></h3><!-- End .banner-title -->
                                        <a href="/category?category=Sneaker&page=0" class="btn btn-outline-white banner-link btn-round">Khám phá ngay</a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="banner banner-overlay banner-overlay-light">
                                    <a href="/category?category=Nike&page=0">
                                        <img th:src="@{fe/images/demos/demo-10/banners/nikee.jpg}" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle text-white"><a href="#">Nike</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">Hot</a></h3><!-- End .banner-title -->
                                        <a href="#" class="btn btn-outline-white banner-link btn-round">Mua Ngay</a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <div class="banner banner-large banner-overlay d-none d-sm-block">
                            <a href="#">
                                <img th:src="@{fe/images/demos/demo-10/banners/banner-3.jpg}" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white"><a href="#">Đang giảm giá</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="/category?category=Sneaker&page=0">Sneakers</a></h3><!-- End .banner-title -->
                                <div class="banner-text text-white"><a href="#">Giảm tới 30%</a></div><!-- End .banner-text -->
                                <a href="/category?category=Sneaker&page=0" class="btn btn-outline-white banner-link btn-round">Mua ngay</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-8 -->

                    <div class="col-lg-4 d-sm-none d-lg-block">
                        <div class="banner banner-middle banner-overlay">
                            <a href="#">
                                <img th:src="@{fe/images/demos/demo-10/banners/banner-4.jpg}" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-bottom">
                                <h4 class="banner-subtitle text-white"><a href="#">Đang giảm giá</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a th:href="@{/category}">Kinh Ngạc <br>Giày Bốt Cao</a></h3><!-- End .banner-title -->
                                <div class="banner-text text-white"><a href="#">từ $19.98</a></div><!-- End .banner-text -->
                                <a th:href="@{/category}" class="btn btn-outline-white banner-link btn-round">Khám phá ngay</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .banner-group -->

        <div class="icon-boxes-container icon-boxes-separator bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rocket"></i>
                                </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Miễn phí vận chuyển</h3><!-- End .icon-box-title -->
                                <p>Với đơn hàng từ 200k</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rotate-left"></i>
                                </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Miễn phí hoàn trả</h3><!-- End .icon-box-title -->
                                <p>Trong vòng 30 </p>
                            </div><!-- End .ingàyon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-info-circle"></i>
                                </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Giảm 20% 1 sản phẩm</h3><!-- End .icon-box-title -->
                                <p>Khi bạn đăng ký</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-life-ring"></i>
                                </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Chúng tôi luôn hỗ trợ</h3><!-- End .icon-box-title -->
                                <p>Dịch vụ tuyệt vời 24/7</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->

        <div class="bg-light pt-5 pb-10 mb-3">
            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg">SẢN PHẨM HOT</h2><!-- End .title -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab" role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-women-link" data-toggle="tab" href="#new-women-tab" role="tab" aria-controls="new-women-tab" aria-selected="false">Nike</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-men-link" data-toggle="tab" href="#new-men-tab" role="tab" aria-controls="new-men-tab" aria-selected="false">Audi</a>
                        </li>
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane tab-pane-shadow p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl"
                             data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 0,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true
                                        }
                                    }
                                }'>
                            <div th:each="product : ${products}" class="product product-3 text-center">
                                <figure class="product-media">
                                    <span class="product-label label-primary">Sale</span>
                                    <span class="product-label label-sale">30% off</span>
                                    <a th:href="@{/product{id}(id=${product.productId})}">
                                        <img th:src="@{/upload/{imageName}(imageName=${product.image})}" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" onclick="submitWishlistForm(event,this)" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="isAuthenticated()"><span>Yêu Thích</span>
                                            <form th:action="@{/wishlist/add-to-wishlist}" th:method="post">
                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                            </form>
                                        </a>
                                        <a th:href="@{/login}" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="!isAuthenticated()"><span>Yêu Thích</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a th:href="@{/product{id}(id=${product.productId})}" th:text="${product.name}"></a></h3>
                                    <div class="product-price">
                                        <span class="new-price" th:text="'Giá $' + ${product.price}"></span>
                                        <span class="old-price" th:text="'$' + ${product.price}"></span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" th:style="'width: ' + (${product.averageRating} * 20) + '%;'"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text" th:text="${product.reviewCount} + ' Đánh giá'"></span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #5f554b;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product" sec:authorize="isAuthenticated()">
                                            <form th:action="@{/cart/add-to-cart}" th:method="post">
                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                                <button type="submit" class="btn-product btn-cart"><span>Thêm giỏ hàng</span></button>
                                            </form>
                                        </a>
                                        <a th:href="@{/login}" class="btn-product btn-cart" sec:authorize="!isAuthenticated()"><span>Thêm giỏ hàng</span></a>
                                        <a th:href="@{/product{id}(id=${product.productId})}" class="btn-product btn-quickview"><span>Xem Nhanh</span></a>
                                    </div><!-- End .product-action -->
                                    <style>
                                        .btn-product {
                                            background-color: transparent;
                                            border: none;
                                            cursor: pointer;
                                            outline: none;
                                            text-decoration: none;
                                        }
                                    </style>

                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->

                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane tab-pane-shadow p-0 fade" id="new-women-tab" role="tabpanel" aria-labelledby="new-women-link">
                        <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl"
                             data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 0,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true
                                        }
                                    }
                                }'>
                            <div th:each="product : ${nikeProducts}" class="product product-3 text-center">
                                <figure class="product-media">
                                    <span class="product-label label-primary">Sale</span>
                                    <span class="product-label label-sale">30% off</span>
                                    <a th:href="@{/product{id}(id=${product.productId})}">
                                        <img th:src="@{/upload/{imageName}(imageName=${product.image})}" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" onclick="submitWishlistForm(event,this)" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="isAuthenticated()"><span>Yêu Thích</span>
                                            <form th:action="@{/wishlist/add-to-wishlist}" th:method="post">
                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                            </form>
                                        </a>
                                        <a th:href="@{/login}" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="!isAuthenticated()"><span>Yêu Thích</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a th:href="@{/product{id}(id=${product.productId})}" th:text="${product.name}"></a></h3>
                                    <div class="product-price">
                                        <span class="new-price" th:text="'Giá $' + ${product.price}"></span>
                                        <span class="old-price" th:text="'$' + ${product.price}"></span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" th:style="'width: ' + (${product.averageRating} * 20) + '%;'"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text" th:text="${product.reviewCount} + ' Đánh giá'"></span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #5f554b;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product" sec:authorize="isAuthenticated()">
                                            <form th:action="@{/cart/add-to-cart}" th:method="post">
                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                                <button type="submit" class="btn-product btn-cart"><span>Thêm giỏ hàng</span></button>
                                            </form>
                                        </a>
                                        <a th:href="@{/login}" class="btn-product btn-cart" sec:authorize="!isAuthenticated()"><span>Thêm giỏ hàng</span></a>
                                        <a th:href="@{/product{id}(id=${product.productId})}" class="btn-product btn-quickview"><span>Xem Nhanh</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->


                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane tab-pane-shadow p-0 fade" id="new-men-tab" role="tabpanel" aria-labelledby="new-men-link">
                        <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl"
                             data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 0,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true
                                        }
                                    }
                                }'>
                            <div th:each="product : ${audiProducts}" class="product product-3 text-center">
                                <figure class="product-media">
                                    <span class="product-label label-primary">Sale</span>
                                    <span class="product-label label-sale">30% off</span>
                                    <a th:href="@{/product{id}(id=${product.productId})}">
                                        <img th:src="@{/upload/{imageName}(imageName=${product.image})}" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" onclick="submitWishlistForm(event,this)" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="isAuthenticated()"><span>Yêu Thích</span>
                                            <form th:action="@{/wishlist/add-to-wishlist}" th:method="post">
                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                            </form>
                                        </a>
                                        <a th:href="@{/login}" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="!isAuthenticated()"><span>Yêu Thích</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a th:href="@{/product{id}(id=${product.productId})}" th:text="${product.name}"></a></h3>
                                    <div class="product-price">
                                        <span class="new-price" th:text="'Giá $' + ${product.price}"></span>
                                        <span class="old-price" th:text="'$' + ${product.price}"></span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" th:style="'width: ' + (${product.averageRating} * 20) + '%;'"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text" th:text="${product.reviewCount} + ' Đánh giá'"></span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #5f554b;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product" sec:authorize="isAuthenticated()">
                                            <form th:action="@{/cart/add-to-cart}" th:method="post">
                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                                <button type="submit" class="btn-product btn-cart"><span>Thêm giỏ hàng</span></button>
                                            </form>
                                        </a>
                                        <a th:href="@{/login}" class="btn-product btn-cart" sec:authorize="!isAuthenticated()"><span>Thêm giỏ hàng</span></a>
                                        <a th:href="@{/product{id}(id=${product.productId})}" class="btn-product btn-quickview"><span>Xem Nhanh</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->


                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->

            </div><!-- End .container -->
        </div><!-- End .bg-light -->

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4">
                    <div class="banner banner-cat">
                        <a href="/category?category=Adidas&page=0">
                            <img th:src="@{fe/images/demos/demo-10/banners/adidas.jpg}" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title font-weight-normal">Adidas</h3><!-- End .banner-title -->
                            <h4 class="banner-subtitle" th:text="${adidasProduct + ' Sản phẩm'}">125 Products</h4><!-- End .banner-subtitle -->
                            <a href="/category?category=Adidas&page=0" class="banner-link">Xem Ngay</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->

                <div class="col-sm-6 col-md-4">
                    <div class="banner banner-cat">
                        <a href="/category?category=Nike&page=0">
                            <img th:src="@{fe/images/demos/demo-10/banners/nike.png}" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title font-weight-normal">Nike</h3><!-- End .banner-title -->
                            <h4 class="banner-subtitle" th:text="${nikeProducts.size() + ' Sản phẩm'}">97 Products</h4><!-- End .banner-subtitle -->
                            <a href="/category?category=Nike&page=0" class="banner-link">Xem Ngay</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->

                <div class="col-sm-6 col-md-4">
                    <div class="banner banner-cat">
                        <a href="/category?category=Sneaker&page=0">
                            <img th:src="@{fe/images/demos/demo-10/banners/sneaker.jpg}" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title font-weight-normal">Sneaker</h3><!-- End .banner-title -->
                            <h4 class="banner-subtitle" th:text="${sneakerProduct + ' Sản phẩm'}">48 Products</h4><!-- End .banner-subtitle -->
                            <a href="/category?category=Sneaker&page=0" class="banner-link">Xem Ngay</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-4"></div><!-- End .mb-4 -->

        <div class="container">
            <div class="heading heading-center mb-3">
                <h2 class="title-lg mb-2">TOP BÁN CHẠY NHẤT</h2><!-- End .title-lg text-center -->
            </div><!-- End .heading -->

            <div class="tab-content">
                <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                    <div class="products just-action-icons-sm">
                        <div class="row">
                            <div th:each="product : ${productMore}" class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                <div class="product product-3 text-center">
                                    <figure class="product-media">
<!--                                        <span th:if="${product.label == 'Sale'}" class="product-label label-primary">Sale</span>-->
<!--                                        <span th:if="${product.label == 'Sale'}" class="product-label label-sale">30% off</span>-->
                                        <a th:href="@{/product{id}(id=${product.productId})}">
                                            <img th:src="@{/upload/{imageName}(imageName=${product.image})}" alt="Product image" class="product-image">
                                        </a>


                                        <div class="product-action-vertical">
                                            <a href="#" onclick="submitWishlistForm(event,this)" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="isAuthenticated()"><span>Yêu Thích</span>
                                                <form th:action="@{/wishlist/add-to-wishlist}" th:method="post">
                                                    <input type="hidden" name="productId" th:value="${product.productId}" />
                                                    <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                                </form>
                                            </a>
                                            <a th:href="@{/login}" class="btn-product-icon btn-wishlist btn-expandable" sec:authorize="!isAuthenticated()"><span>Yêu Thích</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">

                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a th:href="@{/product{id}(id=${product.productId})}" th:text="${product.name}"></a></h3>
                                        <div class="product-price">
                                            <span class="new-price" th:text="'Giá $' + ${product.price}">Giá $77.99</span>
<!--                                            <span th:if="${product.oldPrice}" class="old-price" th:text="'$' + ${product.oldPrice}">$130.00</span>-->
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->

                                    <div class="product-footer">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" th:style="'width: ' + (${product.averageRating} * 20) + '%;'"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text" th:text="${product.reviewCount} + ' Đánh giá'"></span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
<!--                                            <a href="#" class="active" th:style="'background: ' + ${product.color1}"><span class="sr-only">Color name</span></a>-->
<!--                                            <a href="#" th:style="'background: ' + ${product.color2}"><span class="sr-only">Color name</span></a>-->
<!--                                            <a href="#" th:style="'background: ' + ${product.color3}"><span class="sr-only">Color name</span></a>-->
                                        </div><!-- End .product-nav -->
                                        <div th:if="${successMessage}" class="alert alert-success" role="alert">
                                            <p th:text="${successMessage}"></p>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product" sec:authorize="isAuthenticated()">
                                                <form th:action="@{/cart/add-to-cart}" th:method="post">
                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                <input type="hidden" name="quantity" value="1" /> <!-- Số lượng sản phẩm mặc định -->
                                                <button type="submit" class="btn-product btn-cart"><span>Thêm giỏ hàng</span></button>
                                                </form>
                                            </a>
                                            <a th:href="@{/login}" class="btn-product btn-cart" sec:authorize="!isAuthenticated()"><span>Thêm giỏ hàng</span></a>
                                            <a th:href="@{/product{id}(id=${product.productId})}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                        </div><!-- End .product-action -->

                                    </div><!-- End .product-footer -->
                                </div><!-- End .product -->
                            </div><!-- End .col-6 col-md-4 col-lg-3 col-xl-5col -->
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->


            <div class="more-container text-center mt-5">
                <a th:href="@{/category}" class="btn btn-outline-lightgray btn-more btn-round"><span>Xem nhiều sản phẩm hơn</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- End .more-container -->
        </div><!-- End .container -->

        <div class="mb-5"></div><!-- End .mb5 -->

        <div class="container">
            <div class="cta cta-horizontal cta-horizontal-box bg-image mb-4 mb-lg-6">
                <div class="row flex-column flex-lg-row align-items-lg-center">
                    <div class="col">
                        <h3 class="cta-title text-primary">Ưu đãi mới! Bắt đầu vào lúc 0h hằng ngày.</h3><!-- End .cta-title -->
                        <p class="cta-desc">Get <em class="font-weight-medium">Nhận GIAO HÀNG MIỄN PHÍ & 5% giá trị</em> trên mỗi đơn hàng</p><!-- End .cta-desc -->
                    </div><!-- End .col -->

                    <div class="col-auto">
                        <a href="#" class="btn btn-white-primary btn-round"><span>Khám phá ngay</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .col-auto -->
                </div><!-- End .row -->
            </div><!-- End .cta-horizontal -->
        </div><!-- End .container -->

        <div class="blog-posts">
            <div class="container">
                <h2 class="title-lg text-center mb-4">BLOG</h2><!-- End .title-lg text-center -->

                <div class="owl-carousel owl-simple mb-4" data-toggle="owl"
                     data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "items": 3,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "520": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                }
                            }
                        }'>
                    <article class="entry" th:each="blog : ${blogServiceList}">
                        <figure class="entry-media">
                            <a th:href="@{/single{id}(id=${blog.blogId})}">
                                <img th:src="@{/upload/{image}(image=${blog.image})}" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body text-center">
                            <div class="entry-meta">
                                <a th:text="${#dates.format(blog.createdAt, 'dd-MM-yyyy')}">20-06-2024</a>
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a th:href="@{/single{id}(id=${blog.blogId})}" th:text="${blog.title}">BÀI VIẾT MỚI.</a>
                            </h3><!-- End .entry-title -->

                            <div class="entry-content">
                                <p th:text="${blog.content}">BÀI VIẾT MỚIIII </p>
                                <a th:href="@{/single{id}(id=${blog.blogId})}" class="read-more">ĐỌC THÊM</a>
                            </div><!-- End .entry-content -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                </div><!-- End .owl-carousel -->

                <div class="more-container text-center mt-1">
                    <a th:href="@{/blog}" class="btn btn-outline-lightgray btn-more btn-round"><span>Xem thêm bài viết</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->
            </div><!-- End .container -->
        </div><!-- End .blog-posts -->
    </main><!-- End .main -->

    <div th:replace="~{layout/footer.html :: footer}"></div>

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div th:replace="~{layout/mobileMenu :: mobileMenu}"></div><!-- End .mobile-menu-container -->

<div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row no-gutters bg-white newsletter-popup-content">
                <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                    <div class="banner-content text-center">
                        <img th:src="@{fe/images/popup/newsletter/logo.png}" class="logo" alt="logo" width="60" height="15">
                        <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                        <p>Đăng ký nhận thông báo từ chúng tôi để được cập nhật sản phẩm với giá ưu đãi nhất</p>
                        <form action="#">
                            <div class="input-group input-group-round">
                                <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><span>Được</span></button>
                                </div><!-- .End .input-group-append -->
                            </div><!-- .End .input-group -->
                        </form>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                            <label class="custom-control-label" for="register-policy-2">Không hiển thị lại cửa sổ này</label>
                        </div><!-- End .custom-checkbox -->
                    </div>
                </div>
                <div class="col-xl-2-5col col-lg-5 ">
                    <img th:src="@{fe/images/popup/newsletter/img-1.jpg}" class="newsletter-img" alt="newsletter">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Plugins JS File -->
<div th:replace="~{layout/script.html :: script}"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    if ([[${successWishlist != null}]] && [[${successWishlist}]].trim() !== '') {
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '[[${successWishlist}]]'
        }).then((result) => {
            if (result.isConfirmed || result.dismiss === Swal.DismissReason.timer) {
                window.location.href = '/wishlist';
            }
        });
    }

    if ([[${errorWishlist != null}]] && [[${errorWishlist}]].trim() !== '') {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '[[${errorWishlist}]]'
        });
    }
    /*]]>*/
</script>
<script>
    function submitWishlistForm(event, element) {
        event.preventDefault();
        element.querySelector('form').submit();
    }
</script>
</body>
</html>