<head th:fragment="head">
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop Shoes</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Shop Shoes">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{fe/images/demos/logo.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{fe/images/demos/logo.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{fe/images/demos/logo.png}">
    <link rel="manifest" th:href="@{fe/images/demos/logo.png}">
    <link rel="mask-icon" th:href="@{fe/images/demos/logo.png}" color="#666666">
    <link rel="shortcut icon" th:href="@{fe/images/demos/logo.png}">
    <meta name="apple-mobile-web-app-title" content="Shop Shoes">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="static/fe/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{fe/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{fe/css/plugins/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{fe/css/plugins/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{fe/css/plugins/jquery.countdown.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{fe/css/style.css}">
    <link rel="stylesheet" th:href="@{fe/css/plugins/nouislider/nouislider.css}">
    <link rel="stylesheet" th:href="@{fe/css/skins/skin-demo-10.css}">
    <link rel="stylesheet" th:href="@{fe/css/demos/demo-10.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .status-pending {
            color: red;
        }
        .status-success {
            color: green;
        }
    </style>
</head>