<div th:fragment="script">
    <script th:src="@{fe/js/jquery.min.js}"></script>
    <script th:src="@{fe/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{fe/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{fe/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{fe/js/superfish.min.js}"></script>
    <script th:src="@{fe/js/owl.carousel.min.js}"></script>
    <script th:src="@{fe/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{fe/js/jquery.plugin.min.js}"></script>
    <script th:src="@{fe/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{fe/js/jquery.countdown.min.js}"></script>
    <script th:src="@{fe/js/nouislider.min.js}"></script>
    <script th:src="@{fe/js/wNumb.js}"></script>
    <script th:src="@{fe/js/nouislider.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{fe/js/main.js}"></script>
    <script th:src="@{fe/js/demos/demo-10.js}"></script>

    <script th:inline="javascript">
        function addToCart(productId) {
            var quantity = 1; // Số lượng sản phẩm mặc định có thể thay đổi tùy theo giao diện người dùng

            // Gửi yêu cầu POST bằng Ajax
            $.ajax({
                type: "POST",
                url: "/cart/add-to-cart",
                data: {
                    productId: productId,
                    quantity: quantity
                },
                success: function(data) {
                    // Hiển thị thông báo thành công bằng Thymeleaf
                    <div class="alert alert-success" role="alert">
                        Thêm sản phẩm vào giỏ hàng thành công.
                    </div>
                },
                error: function(xhr, status, error) {
                    // Xử lý khi có lỗi
                    console.error(xhr.responseText);
                    alert("Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng.");
                }
            });
        }
    </script>

</div>